<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Devleo's Server</title>
  <link rel="stylesheet" href="https://stackedit.io/style.css" />
</head>

<body class="stackedit">
  <div class="stackedit__html"><p><a href="https://hits.seeyoufarm.com"><img src="https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=https%3A%2F%2Fgithub.com%2FD3vle0&amp;count_bg=%233F82C9&amp;title_bg=%23555555&amp;icon=github.svg&amp;icon_color=%23E7E7E7&amp;title=hits&amp;edge_flat=false" alt="Hits"></a></p>
<h2 id="hi-there-👋-im-devleo">Hi there 👋 I’m <code>Devleo</code></h2>
<!--&#10;&lt;img src=&#34;https://scontent-ssn1-1.xx.fbcdn.net/v/t1.0-9/80385966_114502953381236_6833108576400048128_n.jpg?_nc_cat=111&amp;_nc_sid=09cbfe&amp;_nc_ohc=zxx0HMQLLg0AX9vGPkS&amp;_nc_ht=scontent-ssn1-1.xx&amp;oh=47d12fde589a42e64939280c7e369b1c&amp;oe=5FAAD48D&#34; width=200px&gt;-->  
<ul>
<li>First grade Web Programming Dept. student at KDMHS<br></li>
<li>Studying programming &amp; cybersecurity</li>
</ul>
<h2 id="programming-languages--rocket">Programming Languages  🚀</h2>

<table>
<thead>
<tr>
<th align="center"><img src="https://github.com/D3vle0/D3vle0/blob/main/img/c.png?raw=true" width="30"></th>
<th align="center"><img src="https://github.com/D3vle0/D3vle0/blob/main/img/js.png?raw=true" width="30"></th>
<th align="center"><img src="https://raw.githubusercontent.com/D3vle0/D3vle0/a9995e467dde97c42a93cba08893fd96493a03ab/img/python.svg" width="30"></th>
<th align="center"><img src="https://github.com/D3vle0/D3vle0/blob/main/img/nodejs.png?raw=true" width="30"></th>
</tr>
</thead>
<tbody></tbody>
</table><h2 id="my-experiences-fire">My Experiences 🔥</h2>
<pre><code>11th place (Bronze Award) - DIMI CTF 2019 Final  
3rd place - The Hacking Championship Junior 2019 Final  
5th place - TRUST &amp; STEALTH Freshman CTF  
4th place - Cyber Operation Competition 2020 Final  
6th place - KERIS CTF 2020 Final  
2nd place - JBU CTF 2020
6th place - The Hacking Championship Junior 2020
...
</code></pre>
<p>
<img alt="github_stats" width="430px" src="https://github-readme-stats.vercel.app/api?username=d3vle0&amp;show_icons=true&amp;theme=tokyonight">&nbsp;&nbsp;&nbsp;
<img alt="spotify" width="300px" height="140px" src="https://spotify-github-profile.vercel.app/api/view?uid=85o05xl09h5de8ngv9im0txhx&amp;cover_image=false">
</p>
<!--&#10;**D3vle0/D3vle0** is a &#10024; _special_ &#10024; repository because its `README.md` (this file) appears on your GitHub profile.&#10;&#10;Here are some ideas to get you started:&#10;&#10;- &#128301; I&#8217;m currently working on ...&#10;- &#127793; I&#8217;m currently learning ...&#10;- &#128111; I&#8217;m looking to collaborate on ...&#10;- &#129300; I&#8217;m looking for help with ...&#10;- &#128172; Ask me about ...&#10;- &#128235; How to reach me: ...&#10;- &#128516; Pronouns: ...&#10;- &#9889; Fun fact: ...&#10;-->
<h2 id="projects-in-server">Projects in server</h2>
<h3 id="web">WEB</h3>
<ul>
<li>80 : My introduction</li>
<li>4001: study-tracker <a href="https://github.com/d3vle0/study-tracker">(github)</a></li>
</ul>
<h3 id="discord">DISCORD</h3>
<ul>
<li>leo-bot <a href="https://github.com/d3vle0/leo-bot">(github)</a></li>
<li>ssipduck-bot <a href="https://github.com/d3vle0/ssipduck-bot">(github)</a></li>
</ul>
</div>
</body>

</html>

